<volist name="tree" id="list">
	 <tr>
		<td class="center">
			<label>
				<input type="checkbox" class="ace" />
				<span class="lbl"></span>
			</label>
		</td>

		<td><a href="#">{$list.id}</a></td>
		<td class="title">{$list.title}</td>
		<td class="hidden-480">{$list['allow_publish']?'是':'否'}</td>
		<td>添加下级栏目</td>
		<td class="hidden-480">
			<span class="label label-sm label-warning">文章</span>
		</td>
		<td>
			<div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
				<button class="btn btn-xs btn-info">
					<i class="icon-edit bigger-120"></i>
				</button>

				<button class="btn btn-xs btn-danger">
					<i class="icon-trash bigger-120"></i>
				</button>
			</div>
	    </td>
		<tr/>
		<notempty name="list['child']">
			<tr class="child">
				{:R('Category/tree', array($list['child']))}
			<tr/>
		</notempty>
</volist>